:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #b92a35;
  --color-gray: #e1e1e1;

  --font-size-main: 16px;
  --font-size-header: 26px;
  --font-size-subheader: 18px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 250px;
}

body {
  font-family: sans-serif;
  color: var(--color-black);
  font-size: var(--font-size-main);
}

main {
  margin: 0 auto;
}
