.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: var(--font-size-header);
  font-weight: 600;
}

.testsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--color-gray);
}
